services:
  postgres:
    image: postgres:14.20
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      container_name: teslodb
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - '5432:5432'
